
<div class="cards">
  	<div class="card card-header-container">
  		<div class="card-header-top">
  			<div class="row">
  				<div class="medium-8 columns">
  					<p class="smaller-text sans-serif">{{project.name | upcase}}</p>
					<p class="lead">{{project.introduction}}</p>
					<hr />
					<div class="row">
						<div class="medium-9 columns">
							<!-- {{search_bar}} -->
							<form id="header-search-form" action="{{search_path}}" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
							      <div class="row collapse postfix-round">
							        <div class="small-9 columns">
							          <input type="text" name="search" id="search" placeholder="Search">
							        </div>
							        <div class="small-3 columns">
							          <span class="postfix button" id="header-search-submit"><i class="fa fa-search"></i></span>
							        </div>
							      </div>
							</form>
							<script>
							  $('#header-search-submit').click(function(){
							    $('#header-search-form').submit();
							  });
							</script>
						</div>
						<div class="medium-3 columns header-nav-section">
							<a class="button browse-button" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Browse</a>
							<ul id="drop1" class="f-dropdown" data-dropdown-content class="dropdown" aria-autoclose="false">
				                <li><a href="{{items_path}}">Items</a></li>
				                <li><a href="{{reports_path}}">Reports</a></li>
				                <li><a href="{{narratives_path}}">Narratives</a></li>
				                <li><a href="{{people_path}}">People</a></li>
				                <li><a href="{{places_path}}">Places</a></li>
				                <li><a href="{{news_path}}">News</a></li>
				                <li><a href="{{home_path}}/contributors">Contributors</a></li>
				            </ul>
						</div>
					</div>


  				</div>
  				<div class="medium-4 columns">
  					<p class="smaller-text sans-serif">WHAT'S NEW</p>
					<ul>
					{%for report in last_reports limit: 3%}
						<li>
						{{report.name | link_to_show: project, report}}
						</li>
					{%endfor%}
					</ul>

					<div class="smaller-text sans-serif follow-title">
						FOLLOW
					</div>
					<ul class="follow-list">
						<li>
							<a href="https://www.facebook.com/PopPrintEDM">
								<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/PopularPrintEDM">
								<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
							</a>
						</li>
					</ul>



  				</div>
  			</div>
  		</div>


  		<div class="card-header-featured-title">
  			<p class="smaller-text sans-serif">Featured Narratives</p>
  		</div>

  		<a href='{{narratives_path | append: "/" | append: featured_narratives[0].id}}'>
  		<div class="card-header-bottom-left" style="background:
			linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
			url('{{featured_narratives[0].cover_image_thumb}}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
			<div class="bottom">
				<div class="card-label">{{featured_narratives[0].name}}</div>
				<div class="description-text">{{featured_narratives[0].description | truncatewords: 25}}</div>
			</div>
		</div>
		</a>

  		<div class="card-header-bottom-right">
  			{%for narrative in featured_narratives limit: 3 offset: 1%}
  			<a href='{{narratives_path | append: "/" | append: narrative.id}}'>
	  			<div class="row">
	  				<div class="medium-3 columns">
	  					<div class="cover-image" style="display: block; width:100px; height:50px; background: url('{{narrative.cover_image_thumb}}');">
	  					</div>
	  				</div>
	  				<div class="medium-9 columns">
	  					<div>{{narrative.name}}</div>
	  					<div class="description-text">{{narrative.description | truncate: 100}}</div>
	  				</div>
	  			</div>
  			</a>
  			{%endfor%}
  		</div>
	</div>


	<div class="card card-featured-reports">
		<p class="smaller-text sans-serif">
			Featured Reports
		</p>
	</div>

{%for report in featured_reports reversed limit: 12%}
	{% if report.cover_image_thumb == "" %}
	<div class="card">
		<a class="whole-tile" href="{{reports_path | append: "/" | append: report.id}}">
		<span class="arrow">→</span>
		</a>
		<h3>{{report.name | link_to_show: project, report}}</h3>
		<i class="fa fa-sticky-note-o fa-4x card-symbol"></i>
	</div>
	{% else %}
		<a href="{{reports_path | append: "/" | append: report.id}}">
		<div class="fill-link slip card" style="background:
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('{{report.cover_image_thumb}}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
		<div class='card-label'><span>{{report.name}}</span><i>→</i></div>
		</div>
		</a>
	{% endif %}
{%endfor%}



</div>
</div>

