<div class="row">
<div class="medium-12 column">


<div class="centered">
  <h1>{{item.name}}</h1>
</div>
{% if item.images.first %}
  <div class="row">
    <div class="large-4 large-offset-4">
      <ul class="orbit" style="width:256px;" data-orbit>
        {% for image in item.images %}
        <li>
          {{image | image_tag: project, "small"}}
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>
{% endif %}
<div class="centered">
{% for cat in item.categories %}
	{% assign cat_path = items_path | append: "?category=" | append: cat.name %}
  <i class="fa fa-flag"></i> {{ cat.name | link_to: cat_path}}
{% endfor %}
{% for tag in item.tags %}
	{% assign tag_path = items_path | append: "?tag=" | append: tag.name %}
  <i class="fa fa-tag" style="color:{{tag.color}}"></i> {{ tag.name | link_to: tag_path}}
{% endfor %}
</div>
<br/>
<div class='large-6 panel callout radius column'>
	<h4>About</h4>
	{{item.description }}
</div>
<div class='large-6 panel callout radius column'>
	<h4>Details</h4>
	{{item.full_text}}
</div>

{{item | custom_data_grouped: project}}
{{item | custom_data_other: project}}

<div class='large-12 panel callout radius column'>
	<h4>Notes</h4>
	{{item.notes}}
</div>
</div>
</div>