
<div class="row">
  <div class="medium-10 medium-offset-1 column">
    <div class="card card-full">

      {% if item.images.first %}
        <div class="row">
          <div class="large-4 large-offset-4">
            <ul class="orbit" style="width:256px;" data-orbit>
              {% for image in item.images %}
              <li>
                {{image | image_tag: project, "small"}}
              </li>
              {%endfor%}
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="medium-12 column">
          <p class="lead">{{item.name}}</p>
        </div>
      </div>

      {% if item.description != "" %}
      <div class="row">
        <div class="medium-12 column">
            <h4>About</h4>
            {{item.description}}
        </div>
      </div>
      {% endif %}

      {% if item.full_text != "" %}
      <div class="row">
        <div class="medium-12 column">
          <h4>Details</h4>
          {{item.full_text}}
        </div>
      </div>
      {% endif %}
 
      <div class="row">
        <div class="medium-6 column">
        <div>Item details</div>
        <dl>
          <dt>Publication details: </dt>
          <dd>{{item.custom_data["publication_details"]}}</dd>
          <dt>Language: </dt>
          <dd>{{item.custom_data["language"]}}</dd>
          <dt>Physical description: </dt>
          <dd>{{item.custom_data["physical_description"]}}</dd>
          <dt>Purchase price: </dt>
          <dd>{{item.custom_data["purchase_price"]}}</dd>
          <dt>Identifier: </dt>
          <dd>{{item.custom_data["identifier"]}}</dd>
          <dt>Notes: </dt>
          <dd>{{item.custom_data["notes"]}}</dd>
        </dl>

        <!-- {{item.custom_data}} -->
        </div>
        <div class="medium-6 column">
          <div>Collection details</div>
          <dl>
            <dt>Place of collection: </dt>
            <dd>{{item.custom_data["where"]}}</dd>
            <dt>Collected by: </dt>
            <dd>{{item.custom_data["who"]}}</dd>
            <dt>Collection date: </dt>
            <dd>{{item.custom_data["when"]}}</dd>
            <dt>More information: </dt>
            <dd>{{item.custom_data["more_information"]}}</dd>
          </dl>

        </div>
      </div>

      <div class="row">
        <div class="medium-6 column">
          <div>Categories</div>
          <ul>
            {% for cat in item.categories %}
            <li>
              {% assign cat_path = items_path | append: "?category=" | append: cat.name %}
                {{ cat.name | link_to: cat_path}}
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="medium-6 column">
          <div>Tags</div>
          <ul>
            {% for tag in item.tags %}
            <li>
              {% assign tag_path = items_path | append: "?tag=" | append: tag.name %}
                {{ tag.name | link_to: tag_path}}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>


      {% if item.notes != "" %}
      <div class="row">
        <div class='large-12 column'>
          <h4>Notes</h4>
          {{item.notes}}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

<!-- 
{% if item.images.first %}
  <div class="row">
    <div class="large-4 large-offset-4">
      <ul class="orbit" style="width:256px;" data-orbit>
        {% for image in item.images %}
        <li>
          {{image | image_tag: project, "small"}}
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="medium-12 column">
    <h1>{{item.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="medium-12 column">
      <h4>About</h4>
      {{item.description }}
  </div>
</div>

<div class="row">
  <div class="medium-12 column">
    <h4>Details</h4>
    {{item.full_text}}
  </div>
</div>

<div class="row">
  <div class="medium-12 column">
    {{item | custom_data_grouped: project}}
    {{item | custom_data_other: project}}
  </div>
</div>

<div class="row">
  <div class='large-12 column'>
    <h4>Notes</h4>
    {{item.notes}}
  </div>
</div>

 -->