


<h2 style="text-align:center;color:#999999">Some Pretty Great Stuff</h2>
<div class='row'>

	<div class='large-12 columns panel filter-panel radius' id="filters">
  		<div class="row">
  			<div class="large-6 columns">
  				<label>Categories</label>
  				{{category_dropdown}}
  			</div>
  			<div class="large-6 columns">
  				<label>Tags</label>
  				{{tag_dropdown}}
  				
  			</div>
  		</div>
  	</div>
  




<!--

  <div class='large-12 columns'>
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
			{% for item in items %}
				<li class="small-text">
					<div class="text-center">
						{% assign item_path = items_path | append: "/" | append: item.id %}
						<a href="{{item_path}}">
						{% if item.images && item.images.first && item.images.first != "" %}
							{{ item.images.first | image_tag: project, 'thumb' }}
						{% else %}
							{{'test.png' | image_tag: project, 'thumb' }}
						{% endif %}
						</a>
					</div>

					<div class="text-center">{{item.name | link_to_show: project, item}}</div>

					<ul>

						{% if item.custom_data['publisher'] != "" %}
						<li>
							Publisher:
							{{item.custom_data['publisher']}}
						</li>
						{% endif %}

						{% if item.custom_data['place_of_publication'] != "" %}
						<li>
							Place of publication:
							{{item.custom_data['place_of_publication']}}
						</li>
						{% endif %}

						{% if item.custom_data['publication_date'] != "" %}
						<li>
							Date of publication:
							{{item.custom_data['publication_date']}}
						</li>
						{% endif %}

						{% if item.categories.first %}
							<li>
							<div>Categories</div>
							<ul>
								{% for cat in item.categories %}
								<li>
									{% assign cat_path = items_path | append: "?category=" | append: cat.name %}
  									{{ cat.name | link_to: cat_path}}
  								</li>
								{% endfor %}
							</ul>
							</li>
						{% endif %}
					</ul>
				</li>
			{% endfor %}
		</ul>
  </div>

-->
</div>


<script>
  	$(function(){
		// var tagFiltersString = '{{tag_filters}}'
		// var categoryFiltersString = '{{category_filters}}'
		// var tagFiltersJSON = JSON.parse(tagFiltersString.replace(/=>/g, ":").replace(/\}\{/g, ", "))
		// var categoryFiltersJSON = JSON.parse(categoryFiltersString.replace(/=>/g, ":").replace(/\}\{/g, ", "))

		// var getKeys = function(obj) {
		// 	result = []
		// 	for (var key in obj) {
		// 		if (obj.hasOwnProperty(key)) {
		// 			result.push(key)
		// 		}
		// 	}
		// 	return result.sort()
		// }

  // 		var selectBoxes = '<div class="row">'
  // 		selectBoxes += '<div class="large-6 columns">'
  // 		selectBoxes += '<label>Categories'
  // 		selectBoxes += '<select id="category-select">'
  // 		selectBoxes += '<option value=""></option>'
  // 		getKeys(categoryFiltersJSON).forEach(function(key){
  // 			selectBoxes += "<option value = '"+ categoryFiltersJSON[key] +"'>" + key + "</option>"
  // 		})
  // 		selectBoxes += '</select>'
  // 		selectBoxes += '</label>'
  // 		selectBoxes += '</div>' // 1 column

  // 		selectBoxes += '<div class="large-6 columns">'
  // 		selectBoxes += '<label>Tags'
  // 		selectBoxes += '<select id="tag-select">'
  // 		selectBoxes += '<option value=""></option>'
  // 		getKeys(tagFiltersJSON).forEach(function(key){
  // 			selectBoxes += "<option value = '"+ tagFiltersJSON[key] +"'>" + key + "</option>"
  // 		})
  // 		selectBoxes += '</select>'
  // 		selectBoxes += '</label>'
  // 		selectBoxes += '</div>' // 2 column
  // 		selectBoxes += '</div>' // row

		//$("#filters").html(selectBoxes)

		// from https://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript
		function getParameterByName(name) {
			var url = window.location.href;
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2]);
		}

		$("#category-select").change(function(){
			var origin = $(location).attr('origin')
			var selected = $(this).val()
			if (selected != "") {
				window.location = origin + selected	
			} else {
				// remove category
			}
			
		})

		$("#tag-select").change(function(){
			var origin = $(location).attr('origin')
			var selected = $(this).val()
			console.log( $(this).val() )
			window.location = origin + selected
		})

		var pathQuery = window.location.pathname + window.location.search

		var emptyCategory = window.location.pathname
		var emptyTag = window.location.pathname
		var categoryValue = getParameterByName("category")
		var tagValue = getParameterByName("tag")

		if (tagValue != null) {
			emptyCategory += "?tag=" + tagValue
		}

		if (categoryValue != null) {
			emptyTag += "?category=" + categoryValue
		}

		$("#tag-select option:first").val(emptyTag)
		$("#category-select option:first").val(emptyCategory)


		$("#tag-select").val(pathQuery)
		$("#category-select").val(pathQuery)




	})

</script>