<div class="row">
  <div class="medium-10 medium-offset-1 column">
    <div class="card card-full">
      <div class="row">
        <div class="large-6 column">
          {{ person.images.first | image_tag: project, 'small' }}
        </div>
        <div class="large-6 column">
            <p class="lead">{{person.name}}</p>
            {% if person.description != "" %}
            <div>
              {{ person.description }}
            </div>
            {% endif %}
        </div>
      </div>

      {% if person.images %}
      <div class="row">
        <div class="large-12 column">
          <h4>Images</h4>
          <ul class="clearing-thumbs small-block-grid-4 large-block-grid-6" data-clearing>
            {% for image in person.images %}
              <li>
                {{image | image_tag: project, 'thumb'}}
                <br/>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>




<!-- <div class="row">
  <div class="medium-10 medium-offset-1 column">
    <div class="card card-full">
      <p class="lead">{{person.name}}</p>
      
      {% if person.description != "" %}
      <div>
        <h4>Description:</h4> {{ person.description }}
      </div>
      {% endif %}


      {% if person.images && person.images.first != "" %}
      <div class="text-center">
        {{ person.images.first | image_tag: project, 'small' }}    
      </div>
      {% endif %}

      {% if person.images %}
      <div>
        <h4>Images</h4>
        <ul class="clearing-thumbs small-block-grid-4 large-block-grid-6" data-clearing>
          {% for image in person.images %}
            <li>
              {{image | image_tag: project, 'thumb'}}
              <br/>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </div>    
  </div>
</div> -->

<!-- 
 <div class="row">
  <div class="large-6 column">
    {{ person.images.first | image_tag: project, 'small' }}
  </div>
  <div class="large-6 column">
    <h2>{{ person.name }}</h2>
  <hr/>
    <h4>Description:</h4>
    {{ person.description }}
  </div>
 </div>
 <hr/>
<div class="row">
  <div class="large-12 column">
    <h4>Images</h4>
    <ul class="clearing-thumbs small-block-grid-4 large-block-grid-6" data-clearing>
      {% for image in person.images %}
        <li>
          {{image | image_tag: project, 'thumb'}}
          <br/>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
 -->