
<div class="cards">

	<div class="card card-wide" data-order="0" data-name=""> 
		<p class="lead">Reports</p>

		<p>A report is a multimedia description of print and reading based on field research, including collection, observation, photography, and interviews.</p>
		<!--
		<div class="text-right">
			Sort by 
			<button id="sortName" class="button tiny">Name</button> 
			<button id="sortDate" class="button tiny">Date</button>
		</div>
		-->
		<div>
			{{pagination}}
		</div>
	</div>

{%for report in reports%}
	{% if report.cover_image_thumb == "" %}
	<div class="card" data-order="{{forloop.index}}" data-name="{{report.name}}">
		<a class="whole-tile" href="{{reports_path | append: "/" | append: report.id}}">		
		<span class="arrow">→</span>
		</a>
		<p class="smaller-text sans-serif">REPORT</p>
		<h3>{{report.name | link_to_show: project, report}}</h3>
		<i class="fa fa-sticky-note-o fa-4x card-symbol"></i>
	</div>
	{% else %}
		<a href="{{reports_path | append: "/" | append: report.id}}">
		<div data-order="{{forloop.index}}" data-name="{{report.name}}" class="fill-link slip card" style="background: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url('{{report.cover_image_thumb}}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
		<div class='card-label'><span>{{report.name}}</span><i>→</i></div>
		</div>
		</a>
	{% endif %}
{%endfor%}

</div>

<script type="text/javascript">
	$(function(){
		$('#sortName').click(function(){
			$grid.isotope({sortBy: 'name'});	
			
		})
		$('#sortDate').click(function(){
			$grid.isotope({ sortBy : 'order' });				
		})
	})
</script>