
<div class="row">
  <div class="medium-10 medium-offset-1 column">
    <div class="card card-full">
      <p class="smaller-text sans-serif">Report</p>
      <p class="lead">{{report.name}}</p>

      <div>
        {{report.description}}
      </div>

      {% if report.cover_image != "" %}
      <div>
        <img class="center image-in-column" src="{{report.cover_image}}">
      </div>
      {% endif %}

      <div>
        {%for passage in report.passages %}
        <div class="text">{{passage.content}}</div>
        {% endfor %}
      </div>
    </div>    
  </div>
</div>

